{% extends 'base.html.twig' %}

{% block body %}
    <br><h1>Some Great Albums I Love</h1><br>
    <div class="row row-cols-sm-1 row-cols-md-4">
        {% for album in albums %}
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <img src="{{ album.img }}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{ album.name }} - {{ album.year }}</h4>
                        <h6 class="card-text">{{ album.artist }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}Fav Albums{% endblock %}
