{% extends 'base.html.twig' %}

{% block body %}
    <br><h1>This are my friends:</h1><br>
    <div class="row row-cols-sm-1 row-cols-md-4">
        {% for amigo in amigos %}
            <div class="col mb-4">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ amigo.nombre }}</h4>
                        <h6 class="card-text">{{ amigo.edad }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}